@charset 'utf-8';
html,body{width:100%;height:100%;margin:0px;-webkit-text-size-adjust:none; color:#222; letter-spacing:-0.5px; font-family: "Noto";}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,button,select{ margin:0;padding:0;vertical-align:middle;font-weight:normal;}
img{vertical-align:middle;}
form{clear:both}
legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;padding:0;font-size:0;line-height:0}
body,select,button,table{color:#222; letter-spacing:-0.5px;}
button{cursor:pointer;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;padding:10px 20px;resize:none;}
select::-ms-expand{display:none;}
select option{height:35px;padding:5px;line-height:35px;}
input:focus, textarea:focus {outline: none;}
iframe[name=google_conversion_frame]{display:none;}
input[type=number],
input[type=email],
input[type=tel],
input[type=text],
input[type=file],
input[type=password]{@include boxSizing; -webkit-appearance:none;-webkit-border-radius:0;border-radius:0;}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=reset]{cursor:pointer;}
input[type=checkbox],
input[type=radio]{margin:0px;padding:0px;height:12px;}
input[type=file]{border:0;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{ color:#fff;}
textarea:focus,
select:focus,
input[type=radio],input[type=checkbox] { outline: none !important; }
img,fieldset{border:0}
a{color:#000;}
ul,ol{list-style:none;}
ul li{list-style:none;}
em,address{font-style:normal}
button,
label{cursor:pointer; border:0px;}
table{border-spacing:0;border:0;width:100%;border-collapse:collapse;}
input::placeholder{color:#a5a5a5;}
.hide{display:none;}
